{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block title %}
    WebUnicode | طراحی سایت، سئو و دیجیتال مارکتینگ حرفه‌ای
{% endblock %}
{% block extra_head %}
    <meta name="description" content="در WebUniCode، فناوری را با خلاقیت ترکیب می‌کنیم تا تجربه‌هایی منحصربه‌فرد ایجاد کنیم که کسب‌وکار شما را تقویت کرده و تعامل کاربران را به سطحی جدید می‌رساند.">
{% endblock %}
{% block content %}
<script>
  function scrollToSection() {
    const target = document.getElementById("services");
    const targetPosition = target.getBoundingClientRect().top + window.pageYOffset;
    const startPosition = window.pageYOffset;
    const distance = targetPosition - startPosition;
    const duration = 2000;
    let startTime = null;
    function animation(currentTime) {
      if (startTime === null) {
        startTime = currentTime;
      }
      const timeElapsed = currentTime - startTime;
      const run = easeInOutQuad(timeElapsed, startPosition, distance, duration);
      window.scrollTo(0, run);
      if (timeElapsed < duration) {
        requestAnimationFrame(animation);
      }
    }
    function easeInOutQuad(t, b, c, d) {
      t /= d/2;
      if (t < 1) return c/2*t*t + b;
      t--;
      return -c/2 * (t*(t-2) - 1) + b;
    }
    requestAnimationFrame(animation);
  }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterBtns = document.querySelectorAll('.filter-btns li');
        const filterBox = document.querySelector('.filter-box');

        // Initialize Isotope
        const iso = new Isotope(filterBox, {
            itemSelector: '.filter-item',
            layoutMode: 'fitRows'
        });

        // Filter on button click
        filterBtns.forEach(btn => {
            btn.addEventListener('click', function () {
                const filterValue = this.getAttribute('data-filter');
                iso.arrange({ filter: filterValue });

                // Remove active class from all buttons
                filterBtns.forEach(btn => btn.classList.remove('active'));
                // Add active class to the clicked button
                this.classList.add('active');
            });
        });
    });
</script>

<div class="hero-section">
    <div class="hero-single custom-hero-single">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="hero-content">
                        <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                            توانمندسازی کسب و کار دیجیتال شما
                        </h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            در WebUniCode، ما فناوری را با خلاقیت تلفیق می‌کنیم تا تجربه‌هایی خلق کنیم که کسب‌وکارها را تقویت و تعامل کاربران را به سطحی نوین برساند. هدف ما ارائه راهکارهای نوآورانه است تا برندها بتوانند در فضای رقابتی بدرخشند و ارتباطی عمیق با مخاطبان خود برقرار کنند.
                        </p>
                        <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <a onclick="scrollToSection()" class="theme-btn">خدمات ما<i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="hero-img">
                        <img src="{% static 'main/img/slider/hero-2.png' %}" alt>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-shape">
            <img src="{% static 'main/img/shape/01.png' %}" alt>
        </div>
        <div class="hero-right-circles"></div>
    </div>
</div>

<div class="feature-area pt-120">
    <div class="container">
        <div class="feature-wrapper">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-top">
                            <div class="feature-icon">
                                <i class="ti-bookmark-alt"></i>
                            </div>
                            <h4>تضمین کیفیت</h4>
                        </div>
                        <div class="feature-content">
                            <p>ما با رعایت بالاترین استانداردهای طراحی و توسعه، کیفیت را در اولویت قرار می‌دهیم تا بهترین تجربه را برای کاربران و مشتریان شما فراهم کنیم.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-top">
                            <div class="feature-icon">
                                <i class="ti-paint-bucket"></i>
                            </div>
                            <h4>بهترین تکنولوژی</h4>
                        </div>
                        <div class="feature-content">
                            <p>با استفاده از جدیدترین فناوری‌های وب و به‌روزترین ابزارهای برنامه‌نویسی، راهکارهای نوآورانه‌ای ارائه می‌دهیم که کسب‌وکار شما را به سطح بالاتری می‌برد.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="feature-item">
                        <div class="feature-top">
                            <div class="feature-icon">
                                <i class="ti-layers-alt"></i>
                            </div>
                            <h4>پشتیبانی آنلاین 24/7</h4>
                        </div>
                        <div class="feature-content">
                            <p>هر زمان که نیاز داشته باشید، ما در کنار شما هستیم. تیم پشتیبانی ما ۲۴ ساعت شبانه‌روز آماده پاسخگویی و رفع مشکلات شماست.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-left">
                    <div class="about-img">
                        <img src="{% static 'main/img/about/01.png' %}" alt>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right">
                    <div class="site-heading mb-3">
                        <h2 class="site-title">
                            ما <span class="site-title">آینده دیجیتال</span> کسب‌وکار شما را می‌سازیم!
                        </h2>
                    </div>
                    <br>
                    <p class="about-text">
                        💡 راهکارهای نوآورانه و خلاقانه برای حضوری قدرتمند، متمایز و پایدار در دنیای وب، با استفاده از جدیدترین تکنولوژی‌ها و بهترین استراتژی‌های دیجیتال
                    </p>
                    <div class="about-list-wrapper">
                        <ul class="about-list list-unstyled">
                            <li>طراحی مدرن و خلاقانه متناسب با نیازهای شما</li>
                            <li>توسعه‌ی وب‌سایت‌های سریع، امن و کاربرپسند</li>
                            <li>پشتیبانی مداوم برای رشد و بهبود کسب‌وکار شما</li>
                        </ul>
                    </div>
                    <a href="{% url 'core:contact' %}" class="theme-btn mt-4">مشاوره رایگان <i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="service-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title"> با این خدمات، <span>کسب‌وکار شما</span> را متحول می‌کنیم</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-crown"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a>طراحی وب سایت</a>
                        </h3>
                        <p class="service-text">
                            ایجاد وب‌سایت‌های مدرن، خلاقانه و کاربرپسند متناسب با نیازهای شما
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-layout"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a>نوشتن محتوا</a>
                        </h3>
                        <p class="service-text">
                            تولید محتوای جذاب و تأثیرگذار برای افزایش تعامل کاربران
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-camera"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a>توسعه وب</a>
                        </h3>
                        <p class="service-text">
                            کدنویسی و پیاده‌سازی وب‌سایت‌های حرفه‌ای با عملکرد بالا
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-palette"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a>بهینه سازی سئو</a>
                        </h3>
                        <p class="service-text">
                            افزایش رتبه سایت شما در موتورهای جستجو و جذب مخاطب بیشتر
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a>برنامه تحت وب</a>
                        </h3>
                        <p class="service-text">
                            توسعه اپلیکیشن‌های تحت وب با جدیدترین فناوری‌ها
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="ti-announcement"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a>مشاوره وب</a>
                        </h3>
                        <p class="service-text">
                            راهنمایی تخصصی برای رشد و بهینه‌سازی حضور آنلاین شما
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skill-area py-120">
    <div class="container">
        <div class="skill-wrapper">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 col-12">
                    <div class="skill-left">
                        <div class="skill-img">
                            <img src="{% static 'main/img/skill/01.png' %}" alt="thumb">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="skill-right">
                        <div class="site-heading mb-3">
                            <h2 class="site-title">
                                مهارت‌های ما، کلید موفقیت شما! 🚀
                            </h2>
                        </div>
                        <p>
                            با تلفیق خلاقیت، تخصص و تجربه، راهکارهایی ارائه می‌دهیم که رشد کسب‌وکار شما را سرعت می‌بخشد.
                        </p>
                        <div class="skill-wrapper">
                            <div class="skill-box">
                                <div class="skill-title">
                                    <h5>
                                        طراحی وب سایت
                                    </h5>
                                </div>
                                <div class="skill-text">
                                    <p>
                                         ایجاد صفحات وب، متناسب با هدف کسب‌وکار شما
                                    </p>
                                </div>
                            </div>
                            <div class="skill-box">
                                <div class="skill-title">
                                    <h5>
                                        بهینه سازی سئو
                                    </h5>
                                </div>
                                <div class="skill-text">
                                    <p>
                                        افزایش دیده شدن در موتورهای جستجو
                                    </p>
                                </div>
                            </div>
                            <div class="skill-box">
                                <div class="skill-title">
                                    <h5>
                                        توسعه وب
                                    </h5>
                                </div>
                                <div class="skill-text">
                                    <p>
                                        طراحی، توسعه و نگهداری وب‌سایت‌های شما
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-stats-up"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.completed_projects }}" data-speed="3000">{{ team.completed_projects }}</span>
                        <h6 class="title">+ پروژه موفق انجام شده
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-timer"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.satisfied_customers }}" data-speed="3000">{{ team.satisfied_customers }}</span>
                        <h6 class="title">+ مشتری راضی که به ما اعتماد کردند</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-pulse"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.members }}" data-speed="3000">{{ team.members }}</span>
                        <h6 class="title">+ نیروی متخصص در تیم ما</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <i class="ti-package"></i>
                    </div>
                    <div>
                        <span class="counter" data-count="+" data-to="{{ team.full_support }}" data-speed="3000">{{ team.full_support }}</span>
                        <h6 class="title">+ پشتیبانی کامل</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="choose-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="site-heading mb-3">
                        <h2 class="site-title">
                            چرا <span>WebUniCode</span> را انتخاب کنیم؟
                        </h2>
                    </div>
                    <p>
                        با اعتماد به ما، مسیر موفقیت در کسب و کار آنلاین را هموار کنید و خود را به سطحی بالاتر برسانید.
                    </p>
                    <div class="choose-wrapper mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>متعهد به زمان‌بندی </h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>به صرفه ترین قیمت ها</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>تجربه، خلاقیت و نوآوری</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>خدمات با استانداردهای حرفه‌ای</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>بروز رسانی دائم و مستمر</h6>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-item">
                                    <i class="far fa-check-double"></i>
                                    <h6>تضمین امنیت داده‌ها</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img">
                    <img src="{% static 'main/img/choose/01.png' %}" alt>
                </div>
            </div>
        </div>
    </div>
</div>

{% if project %}
    <div class="project-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">ما را در <span> در نتیجه کارهایمان </span> قضاوت کنید</h2>
                </div>
                <div class="filter-controls">
                    <ul class="filter-btns">
                        <li class="active" data-filter="*">همه</li>
                        {% for category in categories %}
                            <li data-filter=".cat{{ category.id }}">{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-4 filter-box popup-gallery">
            {% for category in categories %}
                {% for project in category.projects.all %}
                    <div class="col-md-4 filter-item cat{{ category.id }}">
                        <div class="project-item">
                            <div class="project-img">
                                <img href="project/{{ project.slug }}" src="{{ project.main_image.url }}" alt="{{ project.title }}">
                            </div>
                            <div class="project-content">
                                <div class="project-info">
                                    <a href="project/{{ project.slug }}">
                                        <h4 class="project-title" style="color: #0a53be">{{ project.slug }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if comments %}
    <div class="testimonial-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">نظرات <span>مشتریان</span></h2>
                </div>
            </div>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme" dir="ltr">
            {% for customer in comments %}
                {% if customer.publish %}
                    <div class="testimonial-single">
                    <div class="testimonial-content">
                        <div class="testimonial-author-img">
                            <img src="{{ customer.image.url }}" alt>
                        </div>
                        <div class="testimonial-author-info">
                            <h4>{{ customer.name }}</h4>
                            <p>{{ customer.brand }}</p>
                        </div>
                    </div>
                    <div class="testimonial-quote">
                        <span class="testimonial-quote-icon"><i class="flaticon-quote-hand-drawn-symbol"></i></span>
                        <p>{{ customer.body }}</p>
                        <div class="testimonial-quote-icon">
                            <img src="{% static 'main/img/icon/quote.svg' %}" alt>
                        </div>
                    </div>
                    <div class="testimonial-rate">
                        {% for i in ""|rjust:customer.star %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if articles %}
    <div class="blog-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <h2 class="site-title">آخرین <span>مقالات ما</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            {% if article.thumbnail %}
                                <img src="{{ article.thumbnail.url }}" alt="{{ article.title|truncatewords:6 }}" id="blog-img">
                            {% else %}
                                <img src="{% static "main/img/blog/image_not_available.jpg" %}" alt="{{ article.title|truncatewords:6 }}" id="blog-img">
                            {% endif %}
                        </div>
                        <div class="blog-item-info">
                            <h4 class="blog-title">
                                <a href="{{ article.get_absolute_url }}">{{ article.title|truncatewords:6 }}</a>
                            </h4>
                            <div class="blog-item-meta">
                                <ul>
                                    {% if article.author %}
                                        <li><i class="far fa-user-circle"></i>{{ article.author.first_name }} {{ article.author.last_name }}</li>
                                    {% else %}
                                        <li><i class="far fa-user-circle"></i>نامعلوم</li>
                                    {% endif %}
                                    <li><i class="far fa-calendar-alt"></i>{{ article.created_at|to_jalali:'%d/ %m/ %Y' }}</li>
                                </ul>
                            </div>
                            <p>{{ article.description|truncatewords:10|safe }}</p>
                            <a class="theme-btn" href="{{ article.get_absolute_url }}">ادامه مطلب<i class="fas fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="cta-area pt-80 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center text-lg-end">
                <div class="cta-text cta-divider">
                    <h1>پروژه وب خود را سریع، آسان و مقرون‌به‌صرفه دریافت کنید!</h1>
                    <p>کسب‌وکار شما شایسته یک حضور قدرتمند در وب است! با راهکارهای حرفه‌ای و مقرون‌به‌صرفه ما، پروژه آنلاین خود را به موفقیت برسانید. همین حالا با ما تماس بگیرید!</p>
                </div>
            </div>
            <div class="col-lg-5 text-center text-lg-start">
                <div class="mb-20">
                    <a href="#" class="cta-border-btn"><i class="fas fa-headset"></i>{{ site_settings.phone }}</a>
                </div>
                <div>
                    <a href="{% url 'core:contact' %}" class="theme-btn">اکنون تماس بگیرید<i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}